@page
@model RoboRecords.Pages.Games

<!--
 Games.cshtml: FrontEnd for the games website's page
 Copyright (C) 2021, Lemin <Leminn> and Refrag <R3FR4G>
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 See the 'LICENSE' file for more details.
-->

@{
    ViewData["Title"] = "Games";
}
<div class="text-center">
    <h1 class="">Games/Levelpacks</h1>
    <h2 class="lead">Choose a game to view and submit records.</h2>
</div>
<div style="text-align: center">
    @foreach (var game in Games.RoboGames)
    {
        <div class="gameBox box-shadow" style="background-image: url(@game.IconPath); background-position: center;">
            <a href=@game.GetAspLink() style="color: white; text-underline-offset: 10px">
                <div style="width: 100%; height: 100%">
                <span class="gameText title-font">@game.Name</span>
                    
                </div>
            </a>
        </div>
    }
</div>

<style>
    body {
      background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('@FileManager.AssetsDirectoryName/images/dreamhill1.png');
                  background-size: 100%;
                  background-repeat: no-repeat;
                  margin: 0;
    }
</style>