@page
@model IndexModel

<!--
 Index.cshtml: FrontEnd for the main website's page
 Copyright (C) 2021, Lemin <Leminn> and Refrag <R3FR4G>
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 See the 'LICENSE' file for more details.
-->

@{
    ViewData["Title"] = "Home";
    
}

<div class="container">

    <div class="text-center">
        <h1 class="fade-in display-1"><span class="title-font">RoboRecords</span></h1>
        <h3 class="fade-in-slower"> <em> Track and submit SRB2 Speedrunning records. </em></h3>
    </div>

</div>
<div class="container">
    <p class="lead">Welcome</p>
</div>
<style>
    body {
      background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url('../assets/images/vanillabg.png');
            background-size: cover;
            background-repeat: no-repeat;
    }
    
    
     screen and (max-width: 800px) {
      h1 {
             font-size: 6vw !important;
         }
         
         h3 {
             font-size: 4vw;
         }
    
     }

   
    
</style>
@* <div class="container mt-xl-5"> *@
@*     <button type="button" class="btn btn-primary btn-lg float-sm-left mb-auto">Log-in</button> *@
@*     <button type="button" class="btn btn-secondary btn-lg float-sm-right mb-auto">Register</button> *@
@* </div> *@