@page
@model RoboRecords.Pages.Logout

<!--
 Logout.cshtml: Frontend for the logout page
 Copyright (C) 2022, Refrag <Refragg>

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 See the 'LICENSE' file for more details.
-->

<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - RoboRecords</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="icon" type="image/x-icon" href="@FileManager.AssetsDirectoryName/favicon.ico"/>
</head>
<body>
    <div>
        
    </div>
</body>
</html>