@page
@model RoboRecords.Pages.Logout

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - RoboRecords</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="icon" type="image/png" href="/assets/favicon.png"/>
</head>
<body>
    <div>
        
    </div>
</body>
</html>