@page
@model RoboRecords.Pages.Games

@{
    ViewData["Title"] = "Games";
}
<div class="text-center">
    <h1 class="">Games/Levelpacks</h1>
    <h2 class="lead">Choose the game you would like to see speedrun info of.</h2>
</div>
