@page
@model IndexModel
@{
    ViewData["Title"] = "RoboRecords";
}

<div class="text-center">
    <h1 class="display-4">rtjyiortjyoirtjoyrtjoi</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">asp.net lol</a>.</p>
</div>
