@page
@model RoboRecords.Pages.Users

<!--
 Users.cshtml: FrontEnd for the users website's page
 Copyright (C) 2021, Lemin <Leminn> and Refrag <R3FR4G>
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 See the 'LICENSE' file for more details.
-->

@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="">Users</h1>
</div>